.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profitBox {
  padding: 20px;
  background-color: lightgray;
}
@media (max-width: 675px) {
  .container {
    margin-top: 50px;
  }
  .container img {
    width: 100%;
    height: 150px;
  }
}
