.majorBox {
  display: flex;
  justify-content: center;
}
.major {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-top: 15px;
  padding-bottom: 10px;
  width: 90%;
  border-bottom: 1px dotted #ccc;
}
.major > div:first-child {
  color: #a5a5a5;
}
.major > div:nth-child(2) {
  color: #68862b;
  padding-left: 15px;
}
