.container {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: 100%;
  height: 338px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1200px;
}
.listCenter {
  display: flex;
  align-items: center;
  width: 550px;
  cursor: pointer;
}
