.container {
  width: 100%;
  height: 60px;
  background-color: #fff0c1;
  display: flex;
  align-items: center;
}
.box {
  /* width: 800px; */
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 50px;
}
.box2 {
  margin-left: 20px;
  display: flex;
}
.title {
  background-color: #fff0c1;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.title2 {
  background-color: #fff0c1;
  color: #000000;
  font-size: 28px;
  background-color: rgba(255, 0, 0, 0);
  margin: 0 1px;
  font-weight: bold;
  padding: 5px;
}
.title2First {
  color: #000000;
  font-size: 28px;
  background-color: rgba(255, 0, 0, 0);
  margin-left: 10px;
  font-weight: bold;
  padding: 5px;
}
.sliderTxt {
  /* background-color: #fff; */
  width: 100%;
  height: 100%;
}
.vipSlider {
  margin-left: 70px;
  width: 100%;
}
.vipSlider div {
  color: #000000;
}
.sliderTitle {
  display: flex;
  align-items: center;
  height: 100%;
  background-color:  #fff0c1;
}
.sliderBox {
  display: flex;
  align-items: center;
  background-color:  #fff0c1;
}
.joinComple {
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: blue;
}
.rejoinComple {
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: #f8424e;
}
@media (max-width: 675px) {
  .container {
    display: block;
    width: 100%;
    height: 30px;
  }
  .box {
    display: block;
    margin-left: 0px;
  }
  .vipSlider {
    margin-left: 0px;
    width: 100%;
  }
}
