.mainCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
.robot {
  position: absolute;
  top: -50px;
  right: 300px;
  width: auto;
  height: auto;
}
.mainTitle {
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.orange {
  color: #f39700;
}
.cir_tx {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  margin-top: 100px;
}
.cir {
  background-color: rgba(255, 255, 255, 0.607);
  border-radius: 50px;
  width: 24vw;
  padding: 0.8vw;
  border: 2px solid #ccc;
  margin-right: 20px;
  text-align: center;
  position: relative;
}
.cir span {
  font-size: 30px;
}
.cir_tx2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding-top: 200px;
}
.cir2 {
  background-color: rgba(255, 255, 255, 0.607);
  border-radius: 50px;
  width: 24vw;
  padding: 0.8vw;
  border: 2px solid #ccc;
  margin-right: 20px;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tx2_title div {
  font-size: 50px;
}
.cir2Box {
  display: flex;
  margin-top: 100px;
}
@media (max-width: 1600px) {
  /* .robot{
    position:absolute;
    bottom: -370px; 
    left:-100px;
    width:40%;
  } */
}

@media (max-width: 1300px) {
  .robot {
    position: absolute;
    bottom: -285px;
    left: "-20%";
    /* width:50%; */
  }
}
@media (max-width: 575px) {
  .robot {
    display: none !important;
  }
  .cir_tx {
    display: flex;
  }
  .cir {
    margin-top: 30px;
    width: 100%;
    font-size: 13px;
  }
  .cir span {
    font-size: 13px;
  }
  .cir2 {
    font-size: 13px;
  }
}
