.imgCenter {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width:1292px;
  height:6295px;
  object-fit:cover
}
@media (max-width: 675px) {
  .imgCenter img {
    width: 100%;
  }
}
